<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>用户名称：</label>
                                <input type="text" name="username"/>
                            </li>
                            <li>
                                <label>电话号码：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <label>身份证号：</label>
                                <input type="text" name="idNumber"/>
                                <input type="hidden" name="route" value="1"/>
                            </li>
                            <!--<li>
                                <label>openid：</label>
                                <input type="text" name="openid"/>
                            </li>-->
                            <li>
                                状态：<select name="appointmentStatus" th:with="type=${@dict.getType('appointment_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li>
                                <label>预约时间：</label>
<!--                                <input type="text" name="appointmentTime"/>-->
                                <div class="col-sm-9">
                                    <input type="text" class="time-input" name="appointmentTime"/>
                                </div>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" id="re" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.operate.save(ctx + 'system/users/updateList', $('#formId').serialize());"><i class="fa fa-refresh"></i>&nbsp;查询预约状态</a>
                                <a class="btn btn-danger btn-rounded btn-sm" onclick="$.operate.save(ctx + 'system/users/updateBadList', $('#formId').serialize());"><i class="fa fa-refresh"></i>&nbsp;查询黑名单</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:users:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:users:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:users:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:users:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:users:remove')}]];
        var datas = [[${@dict.getType('appointment_status')}]];
        var prefix = ctx + "system/users";

        //获取当前时间yyyy-mm-dd
        var date = new Date();
        //获得配置数据
        var time = [[${@dict.getType('add_time')}]][0].dictValue;

        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = (Number(date.getDate()) + Number(time)).toString().padStart(2, '0');

        var text = year + '-' + month + '-' + day;

        $('input[name="appointmentTime"]').val(text);

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "布达拉宫",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'userId',
                    title: '用户id',
                    visible: false
                },
                {
                    field: 'username',
                    title: '用户名称'
                },
                {
                    field: 'phone',
                    title: '电话'
                },
                {
                    field: 'idNumber',
                    title: '身份证'
                },
                /*{
                    field: 'wxid',
                    title: 'wxid'
                },
                {
                    field: 'openid',
                    title: 'openid'
                },
                {
                    field: 'usercode',
                    title: 'usercode'
                },
                {
                    field: 'qrcodeLink',
                    title: 'qrcodeLink'
                },
                {
                    field: 'bookId',
                    title: 'bookId'
                },
                {
                    field: 'userUuid',
                    title: 'userUuid'
                },*/
                {
                    field: 'appointmentStatus',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'appointmentTime',
                    title: '预约时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
</script>
</body>
</html>